*{
    color: #666;
}
.img{
    height: 250px;
    padding: 4px;
}
.name{
    color: #44949D;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
}
.card{
    border-style: none;
    margin:5px;
}
#panel{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}
header{
    background-color: #aa040C;
    letter-spacing: 2px;
    color: #fff;
    padding: 5px;
}
@media (max-width: 767px) {
    #panel{
    
    }
    .img{
        height: 200px;
    }

    h1,h3,h5{
        font-size: 80%;
    }

}

#footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
    padding: 20px;
    border-top: .6px solid #ccc;
    background-color: #fff;
}

#ranking{
    display: flex;
    justify-content: center;
}

#rank-panel{
    width: 100vw;
    padding: 50px;
    overflow: scroll;
    height: 80vh;
    position: fixed;
    top:10vh;
    background: #fff;
    visibility: hidden;

    display: inline;
    padding-bottom: 100px;
}
#faces{
    padding: 10px 10px 10px 80px;
}
.ranking-img{
    height: 40px;
    border-radius: 50%;
}

@media (max-width: 767px) {

    #faces{
        padding-left: 0;
    }
    #rank-panel{
        top:5vh;
    }

}

.ranking-title{
    margin-left: 30px;
}

button{
    background: #fff;
    color: #aa040C;
    border: 1px solid #aa040C;
}

li.ranking-title{
    
}