<html>
	<head>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>facemash</title>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<script type="text/javascript" src="scripts/client.js"></script>
		<link rel="stylesheet" href="styles/clientStyle.css">
	</head>
	<body ng-app="facemash">

		<header style="text-align:center">
			<h1>FACEMASH</h1>	
		</header>
		
		<br/>

		<div id="board">
			<h5 style="text-align: center;">Were we let in for our looks? No. Will we be judged on them? Yes.</h5>
			<br>
			<h3 style="text-align: center;">Who's Hotter? Click to Choose</h3>

			<div style="display: flex;" id="panel" ng-controller="panelController">

				<div class="card" id="left">
					
						<img src="{{image.left.src}}" id="left" data-opposite="right" alt="" class="left img" ng-click="hit($event)">	
					<a href="{{image.left.src}}" class="name">
						<span  >{{image.left.name.replace('_',' ')}}</span>
					</a>
				</div>
				
				<div class="card" id="right">
					
						<img src="{{image.right.src}}" id="right" data-opposite="left" alt="" class="left img" ng-click="hit($event)">	
					
					<a href="{{image.right.src}}" class="name">
						<span >{{image.right.name.replace('_',' ')}}</span>
					</a>

				</div>
			</div>
		</div>
		<div id="ranking" ng-controller="rank">
			
			<div id="rank-panel">	
				
				<div id="faces" ng-repeat="face in ranking" ng-init="count=0">

					<a href="{{ '/imgs/'+face.name+'.jpg' }}">
						<img src="{{  '/imgs/'+face.name+'.jpg'  }}" alt="" class="ranking-img" >
						<span class="ranking-title" >
							
								{{face.name.replace('_',' ');}}
					
						</span>
					</a>
				</div>
			
			</div>


			<div id="footer">
				<button ng-click=" toggle($event) " >{{ lable }}</button>
			</div>

		</div>

		
	</body>
</html>
